<app-navbar></app-navbar>

<div>
  <div class="combined-container">
    <div class="title"><h3>All Employers</h3></div>
    <div class="search-bar">
      <input type="search" placeholder="Search for employers" class="search-input"  [(ngModel)]="filter" />
    </div>
  </div>

  <div class="banner">
    <div>
        <div class="banner-1">
            Get started for free
        </div>
        <div class="banner-2">
            <div>Find employers from all over the world. Find remote work on Labour</div>
        </div>
        <div class="button-container">
            <button class="try-btn"> Try Now </button>
        </div>
    </div>
  </div>
  
    <div class="employers-container">
        <div *ngFor="let industry of employersByIndustry" class="industry-group">
          <!-- <h2>Industry: {{ industry.industryId }}</h2> -->
          <div class="employer-grid">
            <div class="employer-card" *ngFor="let employer of industry.employers">
              <div class="logo-container">
                <img [src]="employer.logo" alt="Logo">
              </div>
              <div class="details-container">
                <h3>{{ employer.orgname }}</h3>
                <p>{{employer.email}}</p>
                <div class="button-container">
                  <button class="profile-btn" (click)="navigateToSingleEmployer(employer.orgId)" >View Profile</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      
</div>
