<app-navbar></app-navbar>

<div class="main">
    <div>
        <h2>Registration</h2>
    </div>
    <div class="body">
        <div class="pages">
            <div class="tabs-btn">
                <button (click)="navigateToTalentRegistration()" class="reg-btn">Go to Talent Registration</button>
                <button (click)="navigateToEmployerRegistration()" class="reg-btn">Go to Employer Registration</button>
            </div>
        </div>
        <div class="image-container">
            <img src="../../../assets/high-4.jpeg" alt="">
        </div>
    </div>
    
</div>

<app-footer></app-footer>
