<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .header {
        background-color: #007bff;
        color: #fff;
        text-align: center;
        padding: 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .content {
        padding: 20px;
      }

      .content img {
        max-width: 100%;
        height: auto;
      }

      .footer {
        text-align: center;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
      </div>
      <div class="content">
        <p>Your OTP is: <strong><%= OTP %></strong></p>
        <p>This code expires in 1 hour.</p>
      </div>
      <div class="footer">&copy; 2024 Labour. All rights reserved.</div>
    </div>
  </body>
</html>