<div class="body">
    
<div class="container">
    <div class="form-container">
      <h1>Join Labour</h1>
      <form action="/submit-form" method="post">
        <div class="form-group">
          <label for="profile-image">Profile Image</label>
          <input type="file" id="profile-image" name="profile-image">
        </div>
        <div class="form-group">
          <label for="firstname">Firstname</label>
          <input type="text" id="firstname" name="firstname">
        </div>
        <div class="form-group">
          <label for="lastname">Lastname</label>
          <input type="text" id="lastname" name="lastname">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="industry">Industry</label>
          <input type="text" id="industry" name="industry">
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" id="location" name="location">
        </div>
        <div class="form-group">
          <label for="skills">Skills</label>
          <input type="text" id="skills" name="skills">
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="tel" id="phone" name="phone">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password">
        </div>
        <div class="form-group">
          <button type="submit">Register</button>
          <button type="button" onclick="">Cancel</button>
        </div>
      </form>
    </div>
    <div class="illustration-container">
      <img src="../../../assets/high-4.jpeg" alt="Illustration of a person working on a laptop">
    </div>
  </div>
</div>