.body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container {
    flex: 2;
    padding: 20px;
  }
  
  .form-container h1 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  #profile-image {
    width: 100%;
    padding: 20px 0; /* Larger input box for image */
  }
  
  .input-group {
    display: flex;
    gap: 20px;
  }
  
  .input-group .form-group {
    flex: 2;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-group button#cancelButton {
    background-color: #f44336;
  }
  