.main{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}


.title{
    margin: 20px;
}

.employer-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    margin-bottom: 40px;
}

.image-container {
    max-width: 350px;
    height: auto;
    margin-left: 10px;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.details-container {
    flex: 1; 
    align-items: center;
    justify-content: center;
}

.jobs {
    height: 60vh;
    width: 80vw;
    margin-left: auto; 
    margin-right: auto;
  }

  .job-grid{
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
  }
  
  .job-card {
    background-color: #e9e9e9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .job-card p {
    margin: 5px 0;
  }

  .job-btn {
    background-color: #030130;
    border-radius: 20px;
    padding: 10px 20px;
    color: lightgray;
    border: none;
    cursor: pointer;
  }

  .apply-btn{
    background-color: #f9a804;; 
    border-radius: 20px;
    padding: 10px 20px; 
    color: #ffffff; 
    border: none; 
    cursor: pointer; 
    margin: 0 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }



  .employer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    gap: 20px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  .employer-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 20px;
    width: 100%;
    height: 80%;
  }
  
  .logo-container {
    width: 120px;
    margin-right: 20px;
  }
  
  .logo-container img {
    width: 100%;
    border-radius: 10px;
  }
  
  .details-container {
    flex: 1;
  }
  
  .details-container h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .details-container p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .button-container {
    margin-top: 10px;
  }

  .profile-btn{
    background-color: #030130;; 
    border-radius: 20px;
    padding: 10px 20px; 
    color: lightgray; 
    border: none; 
    cursor: pointer; 
    margin: 0 10px;
  }
