<app-navbar></app-navbar>

<div class="main">
    <div class="title">
        <h2>Dashboard</h2>
    </div>

    <div *ngIf="talent" class="talent-container">
        <div class="image-container">
            <img src="{{ talent.profileImg }}" alt="Profile Image">
        </div>
        <div class="details-container">
        
            <p><strong>Name:</strong> {{ talent.firstname }} {{ talent.lastname }}</p>
            <p><strong>Email:</strong> {{ talent.email }}</p>
            <p><strong>Location:</strong> {{ talent.location }}</p>
            <p><strong>Speciality:</strong> {{ talent.speciality }}</p>
            <p><strong>Contact:</strong> {{ talent.phone }}</p>
            <!-- <div class="button-container">
                <button class="edit-btn">Edit Profile</button>
            </div> -->
        </div>
    </div>

    <hr>

    <!-- <div>
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>

    <hr> -->

    <div class="jobs">
        <div class="title">
            <h2>Your Jobs</h2>
        </div>
        <table class="job-table" *ngIf="jobs.length > 0; else noCurrentJobs">
            <thead>
              <tr>
                <!-- <th>No.</th> -->
                <th>Job Name</th>
                <th>Employer Name</th>
                <!-- <th>Industry Name</th> -->
                <th>Description</th>
                <th>Duration</th>
                <th>Start Date</th>
                <th>Salary</th>
                <!-- <th>Talent Name</th> -->
                <!-- <th>Status</th>
                <th>Action</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobs" >
                <!-- <td >{{i+1}}</td> -->
                <td>{{ job?.jobname }}</td>
                <td>{{ job?.employerName }}</td>
                <!-- <td>{{ job?.industryName }}</td> -->
                <td>{{ job?.description }}</td>
                <td>{{ job?.duration }}</td>
                <td>{{ job?.startdate | date }}</td>
                <td>{{ job?.salary | currency }}</td>
                <!-- <td>{{ job?.talentFirstName }} {{ job?.talentLastName }}</td> -->
                <!-- <td>{{ job?.status }}</td> -->
                <td><!-- Add your action button here --></td>
              </tr>
            </tbody>
          </table>

          <ng-template #noCurrentJobs class="template">
            <h5>No Current Jobs</h5>
          </ng-template>
    
    </div>

    <hr>

    <div class="applications">
        <div class="title">
            <h2>Your Applications</h2>
        </div>

        <table class="job-table" *ngIf="applications.length > 0; else noApplicationMade">
            <thead>
              <tr>
                <th>Job Name</th>
                <th>Organization Name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let application of applications">
                <td>{{ application.jobname }}</td>
                <td>{{ application.employerName }}</td>
                <td>{{ application.status }}</td>
              </tr>
            </tbody>
          </table>

          <ng-template #noApplicationMade class="template">
            <h5>No Applications Made</h5>
        </ng-template>
          
    </div>

</div>

<app-footer></app-footer>
