<nav>
    <div class="nav-logo">
        <a routerLink="/">
          <img src="../../../assets/labour-logo.jpg" alt="Labour Logo">
        </a>
    </div>
    <div class="nav-links">
        <li><a routerLink="/jobs"> Jobs</a></li>
        <li><a routerLink="/talents"> Talents</a></li>
        <li><a routerLink="/employers">Employers</a></li>
        <li><a routerLink="/chats/"> Chats</a></li>
    </div>
      <div>
        <li><a *ngIf="!isTokenAvailable()" routerLink="/login">Login</a></li>
        <li><a *ngIf="isTokenAvailable()" (click)="logout()">Logout</a></li>
        <li><a *ngIf="!isTokenAvailable()" routerLink="/signup">Sign-up</a></li>
      </div>
    <div class="profile-logo">
        <a routerLink="">
          <img src="../../../assets/user-png-icon-big-image-png-2240.png" alt="Labour Logo">
        </a>
    </div>
</nav>
