<nav>
    <div class="nav-logo">
        <a routerLink="/">
          <img src="../../../assets/labour-logo.jpg" alt="Labour Logo">
        </a>
      </div>
    <div class="nav-links">
        <li><a routerLink="/jobs"> Jobs</a></li>
        <li><a routerLink="/talents"> Talents</a></li>
        <li><a routerLink="/employers">Employers</a></li>
        <li><a routerLink="/chats"> Chats</a></li>
    </div>
    <div>
        <li><a *ngIf="!isLogged"  routerLink="/login">Login</a></li>
        <li><a *ngIf="isLogged" (click)="logout()">Logout</a></li>
        <li><a *ngIf="isLogged" routerLink="">Sign-up</a></li>
    </div>
    <div class="nav-btn">
        <button>
            Post Job
        </button>
    </div>
</nav>
