<app-navbar></app-navbar>

<div>
    <div class="title"><h3>All Talents</h3></div>
  
    <div class="talents-container">
      <div *ngFor="let talentGroup of talentsByIndustry" class="industry-group">
        <!-- <h2>{{ talentGroup.industryName }}</h2> -->
        <div class="talent-grid">
          <div *ngFor="let talent of talentGroup.talents" class="talent-card">
            <div class="talent-image"><img class="talent-img" [src]="talent.profileImg" alt=""></div>
            <div>
              <p><b>Name:</b> {{ talent.firstname }} {{ talent.lastname }}</p>
              <p><b>Email:</b> {{ talent.email }}</p>
              <p><b>Location:</b> {{ talent.location }}</p>
              <p><b>Speciality:</b> {{ talent.speciality }}</p>
              <p><b>Phone:</b> {{ talent.phone }}</p>
              <!-- Add more details as needed -->
              <div class="button-container">
                <button class="profile-btn" (click)="navigateToSingleTalent(talent.talentId)" >Profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <pagination-controls (pageChange)="pageChanged($event)" [(ngModel)]="currentPage" [totalItems]="totalItems" [itemsPerPage]="pageSize"></pagination-controls> -->
</div>
  
