.main{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}


.title{
    margin: 20px;
}

.employer-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    margin-bottom: 40px;
}

.image-container {
    max-width: 350px;
    height: auto;
    margin-left: 10px;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.details-container {
    flex: 1; 
    align-items: center;
    justify-content: center;
}

.edit-btn{
  background-color: #3968e7; 
  border-radius: 20px;
  padding: 10px 20px; 
  color: #ffffff; 
  border: none; 
  cursor: pointer; 
  margin: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.post-btn{
    background-color: #f9a804;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* .jobs-table{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
} */

.job-table {
    width: 80vw;
    border-collapse: collapse;
  }
  
  .job-table th,
  .job-table td {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  .job-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .job-table tbody tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  .job-table tbody tr:nth-child(odd) {
    background-color: #dbdbdb;
  }