<app-navbar></app-navbar>

<div class="main">
    <div><h2>Dashboard</h2></div>

    <div *ngIf="employer" class="employer-container">
        <div class="image-container">
          <img [src]="employer.logo" alt="Employer Logo">
        </div>
        <div class="details-container">
          <!-- <p><strong>Organization ID:</strong> {{ employer.orgId }}</p> -->
          <p><strong>Organization Name:</strong> {{ employer.orgname }}</p>
          <p><strong>Email:</strong> {{ employer.email }}</p>
          <!-- <p><strong>Industry ID:</strong> {{ employer.industryId }}</p> -->
          <p><strong>Employer Wallet:</strong> {{ employer.employerWallet }}</p>
          <div class="button-container">
            <button class="edit-btn">Edit Profile</button>
            <button class="post-btn" (click)="navigateToPostJob()">Post Job</button>
        </div>
        </div>
    </div>
 <hr>
    <!-- use a table to show jobs -->

      <div><h2>Jobs Posted</h2></div>
        <table class="job-table" *ngIf="jobs.length > 0; else noJobs">
            <thead>
              <tr>
                <th>Job Name</th>
                <th>Employer Name</th>
                <th>Industry Name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Start Date</th>
                <th>Salary</th>
                <th>Talent Name</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobs" (click)="getJobApplications(job.jobId)">
                <td>{{ job?.jobname }}</td>
                <td>{{ job?.employerName }}</td>
                <td>{{ job?.industryName }}</td>
                <td>{{ job?.description }}</td>
                <td>{{ job?.duration }}</td>
                <td>{{ job?.startdate | date }}</td>
                <td>{{ job?.salary | currency }}</td>
                <td>{{ job?.talentFirstName }} {{ job?.talentLastName }}</td>
                <!-- <td>{{ job?.status }}</td> -->
                
              </tr>
            </tbody>
          </table>

          <ng-template #noJobs>
            <h5>No Job Posted</h5>
        </ng-template>
<hr>

        <div><h2>Jobs Applicants</h2></div>
  

        <table class="job-table" *ngIf="applications.length > 0; else noApplicants" >
          <thead>
            <tr>
              <!-- <th>Application ID</th> -->
              <!-- <th>Job ID</th> -->
              <th>Job Name</th>
              <!-- <th>Talent ID</th> -->
              <th>Applicants Name</th>
              <!-- <th>Organization ID</th> -->
              <th>Organization Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let application of applications">
              <!-- <td>{{ application?.applicationId }}</td> -->
              <!-- <td>{{ application?.jobId }}</td> -->
              <td>{{ application?.jobname }}</td>
              <!-- <td>{{ application?.talentId }}</td> -->
              <td>{{ application?.firstname }} {{ application?.lastname }}</td>
              <!-- <td>{{ application?.orgId }}</td> -->
              <td>{{ application?.orgname }}</td>
              <td>{{ application?.status }}</td>
              <td>
                <button class="action-btn" (click)="acceptJobApplication(application?.applicationId)">Accept</button>
                <button class="action-btn" (click)="rejectJobApplication(application?.applicationId)">Reject</button>
              </td>
          </tr>
          </tbody>
      </table>

      <ng-template #noApplicants>
        <h5>No Applicants For This Job</h5>
    </ng-template>

</div>
