<div>

    <div class="hero">
        <div>
            <div class="hero-1">
                <!-- <h1>Pay and Earn For <br> FreeLance <br> Services</h1> -->
                <div class="hero-1-txt">Pay and Earn For <br> FreeLance <br> Services</div>
            </div>
            <div class="hero-2">
                <p>Labour is a platform that helps clients connect with freelancers from a vast pool of global talent.
                    We provide efficient transactions, and robust protection - wherever you're based!
                 </p>
            </div>
            <div class="hero-3">
                <button>
                    Find Talent
                </button>
                <button>
                    Find Jobs
                </button>
            </div>
        </div>
        <div>
            <img src="../../../assets/high-3.jpeg" alt="">
        </div>
    </div>

    <div class="benefits">
        <div>
            <div class="benefits-1">
                Boost Your Account with Premium Features
            </div>
            <div class="benefits-2">
                <p>Our premium membership is divided into five tiers. Users access different levels, with increasing benefits</p>
            </div>
            <div class="benefits-3">
                <p>Benefits include bonuses for Customers, while providing reduced fees, priority placement and visual highlighting in search results for Freelancers – putting them in prime position to win more work, and earn a higher income.</p>
            </div>
            <div class="button-container">
                <button class="reg-btn">Register</button>
            </div>
        </div>
        <div>
            <img src="../../../assets/boost-account-2x.webp" alt="">
        </div>
    </div>
    <hr>

    <div class="jobs">
        <div><h3>All Jobs</h3></div>
    </div>
    <hr>

    <div class="talents">
        <div><h3>All Talents</h3></div>
    </div>
    <hr>
    
    <div class="faq">
        
    </div>
</div>
