.hero {
    display: flex;
    height: 75vh;
    width: 80vw;
    margin-left: auto; 
    margin-right: auto;
}

.hero > div {
    flex: 1; 
}

.hero > div:first-child {
    margin-right: 10px;
}

.hero-1{
    margin-top: 50px;
    text-align: center;
}

.hero-1-txt{
    font-size: 3.5rem;
    text-align: center;
}

.hero-2{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 10px; 
}

.hero-3 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.hero-3 button {
    background-color: #3129a4; 
    border-radius: 20px;
    padding: 10px 20px; 
    color: white; 
    border: none; 
    cursor: pointer; 
    margin: 0 10px; 
}

.hero-3 button:last-child {
    background-color: #f9a804; 
}

.benefits{
    display: flex;
    height: 80vh;
    width: 80vw;
    border-radius: 20px;
    border: 1px black;
    background-color: black;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.benefits > div {
    flex: 1; 
}

.benefits > div:first-child {
    margin-right: 10px;
}

.benefits{
    display: flex;
    height: 80vh;
    width: 80vw;
    border-radius: 20px;
    background-color: #030130;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
}

.benefits > div {
    flex: 1; 
}

.benefits > div:first-child {
    margin-right: 10px;
}

.benefits-1{
    font-size: 3rem;
    text-align: center;
    color: beige;
    margin-top: 30px;
}

.benefits-2{
    font-size: 1.5rem;
    text-align: center;
    color: beige;
    margin-top: 30px;
}

.benefits-3{
    font-size: 0.75rem;
    text-align: center;
    color: beige;
    margin-top: 30px;
}

.button-container {
    text-align: center; 
}


.reg-btn{
    background-color: #f9a804;; 
    border-radius: 20px;
    padding: 10px 20px; 
    color: black; 
    border: none; 
    cursor: pointer; 
    margin: 0 10px;
}

.benefits img {
    width: 500px; 
    height: auto; 
    margin-top: 100px;
}



/* display talents */

.talents {
    height: 80vh;
    width: 80vw;
    margin-left: auto; 
    margin-right: auto;
}

.talent-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }
  
  .talent-card {
    background-color: #e9e9e9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  }
  

  .talent-card:hover {
    background-color: #030130; 
    color: lightgray; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
  } 

  .talent-image {
    width: 120px; 
    justify-content: center;
    align-items: center;
  }
  
  .talent-img {
    width: 100%; 
    height: 100%; 
    border-radius: 10px; 
  }
  

  .talent-card div {
    margin-top: 10px;
  }
  
  .talent-card p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .talent-card p b {
    font-weight: bold;
  }

  .profile-btn{
    background-color: #030130;; 
    border-radius: 20px;
    padding: 10px 20px; 
    color: lightgray; 
    border: none; 
    cursor: pointer; 
    margin: 0 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .profile-btn:hover {
    background-color: lightgray; 
    color: #030130; 
  }

  .talent-card:hover .profile-btn {
    background-color: lightgray;
    color: #030130;
  }


 

.jobs {
    height: 60vh;
    width: 80vw;
    margin-left: auto; 
    margin-right: auto;
  }

  .job-grid{
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
  }
  
  .job-card {
    background-color: #e9e9e9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .job-card p {
    margin: 5px 0;
  }

  /* banner style */

  .banner{
    display: flex;
    height: 50vh;
    width: 80vw;
    border-radius: 20px;
    background-color: #f9a804;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    justify-content: center;
  }

  .banner-1{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: #3129a4;
    margin-top: 30px;
  }

  .banner-2{
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: #3129a4;
    margin-top: 30px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .job-btn {
    background-color: #030130;
    border-radius: 20px;
    padding: 10px 20px;
    color: lightgray;
    border: none;
    cursor: pointer;
  }

  .try-btn{
    background-color: #030130;
    border-radius: 20px;
    padding: 10px 20px;
    color: lightgray;
    border: none;
    cursor: pointer;
  }


  /* employers */

  .employer{
    height: auto;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .e-title{
    height: auto;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .employer-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    height: auto;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .employer-card{
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 20px;
    width: 75%;
    height: 80%;
  }

  .employer-image{
    width: 120px;
    margin-right: 20px;
  }

  .employer-img{
    width: 120px;
    height: auto;
    border-radius: 10px;
  }

  .details-container {
    flex: 1;
  }

  .button-container {
    margin-top: 10px;
  }

  .profile-btn{
    background-color: #030130;; 
    border-radius: 20px;
    padding: 10px 20px; 
    color: lightgray; 
    border: none; 
    cursor: pointer; 
    margin: 0 10px;
  }
  


/* faq */

/* .faq{
    height: 80vh;
    width: 80vw;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

.faq-title {
  margin-bottom: 20px;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; 
}

.faq-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
}

.faq-question {
  font-weight: bold;
  margin-bottom: 10px; 
} */


.faq {
    height: 80vh;
    width: 80vw;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto
}

.faq-title {
  text-align: center;
}

.faq-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.faq-question {
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.faq-answer {
  padding: 15px;
  display: none;
}

.faq-question.active {
  background-color: #f9a804;
  color: #fff;
}

.faq-question.active + .faq-answer {
  display: block;
}



  