<app-navbar></app-navbar>

<div class="chat-container">
    <div class="chat-messages">
      <!-- <div class="message" *ngFor="let message of messages$ | async">
        <div><strong>From:</strong> {{ message?.orgId }}</div>
        <div><strong>Message:</strong> {{ message?.content }}</div>
        <div><strong>Timestamp:</strong> {{ message?.timestamp | date }}</div>
      </div> -->
    </div>
    <div class="chat-input">
      <textarea [(ngModel)]="newMessage.content" placeholder="Type your message here..."></textarea>
      <button (click)="sendMessage()">Send</button>
    </div>
</div>