<app-navbar></app-navbar>

<div class="main">
    <div class="title">
        <h2>Profile</h2>
    </div>

    <div *ngIf="talent" class="talent-container">
        <div class="image-container">
            <img src="{{ talent.profileImg }}" alt="Profile Image">
        </div>
        <div class="details-container">
            <p><strong>Name:</strong> {{ talent.firstname }} {{ talent.lastname }}</p>
            <p><strong>Email:</strong> {{ talent.email }}</p>
            <p><strong>Location:</strong> {{ talent.location }}</p>
            <p><strong>Speciality:</strong> {{ talent.speciality }}</p>
            <p><strong>Contact:</strong> {{ talent.phone }}</p>
            <div class="button-container">
                <button class="apply-btn">Message</button>
            </div>
        </div>
    </div>

    <hr>

    <div class="reviews">
        <div><h3>Reviews</h3></div>
        <div *ngFor="let review of reviews">
            <div class="review">
              <div class="review-details">
                <div><strong>Review ID:</strong> {{ review.reviewId }}</div>
                <div><strong>Comment:</strong> {{ review.comment }}</div>
                <div><strong>Talent Name:</strong> {{ review.talentFirstName }} {{ review.talentLastName }}</div>
                <div><strong>Organization Name:</strong> {{ review.orgName }}</div>
              </div>
            </div>
          </div>
    </div>   
      
</div>
