<body>
    <footer class="footer">
        <div class="footer-content">
          <div class="footer-logo">
            <a href="#">labour</a>
          </div>
          <div class="footer-links">
            <ul>
              <li><a href="#">Gigs</a></li>
              <li><a href="#">Freelancer Jobs</a></li>
              <li><a href="#">Full-time Jobs</a></li>
              <li><a href="#">Skills</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
          <div class="footer-social">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
          <div class="footer-contact">
            <a href="#">Contact us</a>
            <a href="#">info@labour.com</a>
          </div>
          <div class="footer-copyright">
            <p>&copy; Labour 2020-2024. All rights reserved.</p>
            <p>Designed by Duncan.</p>
            <p>Powered by Angular.</p>
          </div>
        </div>
      </footer>
      
</body>
