<app-navbar></app-navbar>

<div class="main">
    <div>
        <form action="" class="form" [formGroup]="postJobForm" ngsubmit="">
            <div class="input-div" >
                <input type="text" formControlName="jobname" placeholder="Job Name">
                <div class="err" *ngIf="postJobForm.get('jobname')?.invalid && postJobForm.get('jobname')?.touched">Name is required</div>
            </div>
            <div class="input-div">
                <input type="text" formControlName="description" placeholder="Job description">
                <div class="err" *ngIf="postJobForm.get('description')?.invalid && postJobForm.get('description')?.touched">Description is required</div>
            </div>
            <div class="form-group">
                <select id="industry" formControlName="industry">
                    <option value="" disabled selected>Select Industry</option>
                    <option *ngFor="let industry of industries" [value]="industry.industryId">{{ industry.industryName }}</option>
                </select>
                <div class="err" *ngIf="postJobForm.get('industry')?.invalid && postJobForm.get('industry')?.touched">Industry is required</div>
            </div>
            <div class="input-div" >
                <input type="text" formControlName="duration" placeholder="Duration">
                <div class="err" *ngIf="postJobForm.get('duration')?.invalid && postJobForm.get('duration')?.touched">Duration is required</div>
            </div>
            <div class="input-div">
                <mat-form-field>
                  <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
                  <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
              
            <div class="input-div" placeholder="Salary">
                <input type="text" formControlName="salary">
                <div class="err" *ngIf="postJobForm.get('salary')?.invalid && postJobForm.get('salary')?.touched">Salary is required</div>
            </div>
        </form>
    </div>

    <div class="image-container">
        <img src="../../../assets/high-4.jpeg" alt="">
    </div>
</div>